<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />

	</startup>

	<connectionStrings>
		<add name="cafeManagement.Properties.Settings.CafeDbConnectionString"
		 connectionString="Data Source=LAPTOP-24F8E70M\SQLEXPRESS;Initial Catalog=CafeDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;"			 
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>